    <div class="container">
        <section>
        <form asp-controller="Home" method="post" class="form-horizontal">
                <hr />            
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <button type="submit" class="btn btn-default" formaction="RunSync">Run Sync</button>
												<button type="submit" class="btn btn-default" formaction="RunAsync">Run Async</button>
                    </div>
                </div>
            </form>
        </section>
    </div>